{% extends "me/index.html" %}

{% block content %}

	
	<form class="form-group" action="/create_siswa" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="container-fluid">
	<div class="col-md-8">
		<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nis</label>
	                <input name="nis" type="text" class="form-control" >
	            </div>
		</div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
		<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nama</label>
	                <input name="nama" type="text" class="form-control" >
	            </div>
		</div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
    	<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Alamat</label>
	                <input name="alamat" type="text" class="form-control" >
	            </div>
	      </div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
    	<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Jenis Kelamin</label>
	                <select class="form-control" name="jekel">
						<option value="laki-laki">Laki - Laki</option>
						<option value="perempuan">Perempuan</option>
					</select>
	            </div>
	        </div>
				<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
	      <div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <input name="" type="submit" class="btn btn-info" value="Save">
	            </div>
	        </div>
	       </div>
			</div>
	   </div>
	</form>

{% endblock %}

