{% extends "me/index.html" %}

{% block content %}
 	<a href="/create" class="btn btn-success btn-md">Add new</a>

 		<table class="table table-striped">
		
		<tr>
			<th>No</th>
			<th>Nis</th>
			<th>Nama</th>
			<th>Alamat</th>
			<th>Jenis Kelamin</th>
			<th>Action</th>
		</tr>
			{% for data_siswa in object_list %}	
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ data_siswa.nis }}</td>
			<td>{{ data_siswa.nama }}</td>
			<td>{{ data_siswa.alamat }}</td>
			<td>{{ data_siswa.jekel }}</td>
			<td>
			<form>
			<a href="/edit/{{ data_siswa.id }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>Edit</a> 
			<a href="/delete/{{ data_siswa.id }}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>Delete</a>
			</form>
			</td>

		</tr>
		{% endfor %}
		</table>
	
{% endblock %}

{% block footer %}
{% endblock %}