{% extends "me/index.html" %}

{% block content %}
<div class="container-fluid">
	
	<form class="form-group" action="/update/{{ siswa.id }}" method="post">
	{% csrf_token %}
	<div class="row">
	<div class="col-md-8">
		<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nis</label>
	                <input name="nis" type="text" class="form-control" value="{{ siswa.nis }}" placeholder="{{ siswa.nis }}">
	            </div>
	        </div>
    			<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
		<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nama</label>
	                <input name="nama" type="text" class="form-control" value="{{ siswa.nama }}" placeholder="{{ siswa.nama }}">
	            </div>
	        </div>
   <div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
    	<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Alamat</label>
	                <input name="alamat" type="text" class="form-control" value="{{ siswa.alamat }}" placeholder="{{ siswa.alamat }}">
	            </div>
	    </div>
<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
    	<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Jenis Kelamin</label>
	                <select class="form-control" name="jekel">
						<option value="{{ siswa.jekel }}">{{ siswa.jekel }}</option>
						<option value="laki-laki">Laki - Laki</option>
						<option value="perempuan">Perempuan</option>
					</select>
	            </div>
	        </div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
	      <div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <input name="" type="submit" class="btn btn-info" value="Save">
	            </div>
	        </div>
	       </div>
	   </div>
	</form>
</div>
{% endblock %}

