{% extends "me/index.html" %}

{% block content %}

<div class="container-fluid">
	
	<form class="form-group" action="/nilai/create_nilai" method="post">
	{% csrf_token %}
<div class="row">
	<div class="col-md-8">
		<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nama Siswa</label>
	               <select class="form-control" name="siswa_id">
	               	{% for data in siswa_data %}
	               		<option value="{{ data.id }}">{{ data.nama }}</option>
	               	{% endfor %}
	               		
	               </select>
	               	
	            </div>
	     </div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
	     	<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Mata Pelajaran</label>
	               <select class="form-control" name="mata_pelajaran_id">
	              {% for data in mapel_data %}
	               		<option value="{{ data.id }}" >{{ data.mata_pelajaran }}</option>
	              {% endfor %}
	           
	               
	               </select>
	            </div>
	     </div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
	     <div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nilai Tugas</label>
	                <input name="n_tugas" type="number" class="form-control" >
	            </div>
	     </div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
	     <div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nilai Mid</label>
	                <input name="n_mid" type="number" class="form-control" >
	            </div>
	     </div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
	     <div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Nilai Uas</label>
	                <input name="n_uas" type="number" class="form-control" >
	            </div>
	     </div>
		<div class="row">
			<div class="clearfix"></div>
		</div>
		<br>
		 <div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <input name="" type="submit" class="btn btn-info" value="Save">
	            </div>
	        </div>
	</div>
</div>
<br>

	</form>
</div>

{% endblock %}