{% extends "me/index.html" %}

{% block content %}
	<a href="/nilai/input" class="btn btn-success btn-md">Add new</a>

 		<table class="table table-striped">
		
		<tr>
			<th>No</th>
			<th>Nama Siswa</th>
			<th>Mata Pelajaran</th>
			<th>Nilai Tugas </th>
			<th>Nilai Mid</th>
			<th>Nilai Uas</th>
			<th>Rata - Rata</th>
			<th>Action</th>
		</tr>
			{% for data in nilai_data %}
		<tr>
			<td>{{ forloop.counter}}</td>
			<td>{{ data.siswa.nama }}</td>
			<td>{{ data.mata_pelajaran.mata_pelajaran }}</td>
			<td>{{ data.n_tugas }}</td>
			<td>{{ data.n_mid }}</td>
			<td>{{ data.n_uas }}</td>
			<td>{{ data.n_jumlah }}</td>
			<td>
			<form>
			<a href="/nilai/edit/{{ data.id }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>Edit</a> 
			<a href="/nilai/delete/{{ data.id }}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>Delete</a>
			</form>
			</td>

		</tr>
		{% endfor %}
		</table>

{% endblock %}
