{% extends "me/index.html" %}

{% block content %}
	<div class="container-fluid">
	
	<form class="form-group" action="/mapel/create_mapel" method="post">
	{% csrf_token %}
<div class="row">
	<div class="col-md-8">
		<div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <label>Mata Pelajaran</label>
	                <input name="mata_pelajaran" type="text" class="form-control" >
	            </div>
	     </div>

	</div>

</div>
<br>
  <div class="col col-md-6">
	            <div class="col col-md-12 ">
	                <input name="" type="submit" class="btn btn-info" value="Save">
	            </div>
	        </div>
	</form>
</div>

{% endblock %}