{% extends "me/index.html" %}

{% block content %}
 	<a href="/mapel/input" class="btn btn-success btn-md">Add new</a>

 		<table class="table table-striped">
		
		<tr>
			<th>No</th>
			<th>Mata pelajaran</th>
			<th>Action</th>
		</tr>
			{% for data in mapel_data %}	
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ data.mata_pelajaran }}</td>
			<td>
			<form>
			<a href="/mapel/edit/{{ data.id }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>Edit</a> 
			<a href="/mapel/delete/{{ data.id }}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>Delete</a>
			</form>
			</td>

		</tr>
		{% endfor %}
		</table>
	
{% endblock %}

{% block footer %}
{% endblock %}